<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/logo.jpg">
	<title> Deluxe Cars</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
    <%- include('./partials/header') %>
    		
			<div class="container products-wrapper">
                <div class="d-flex align-items-center">
                    <h2 class="products-title"><%= auto.nombre %> </h2> 
                    <p class="product-detail-description">
                        <a href="/product-add">Editar</a>
                    </p>
                    <a href="/" class= "btn btn-primary">Volver</a>

                </div>
                <div class="product-detail">
                    <div class="row">
                        <article class="col-12 col-lg-8 product-detail-info">
                            <img src="/autosImg/<%=auto.imagen%>" alt=".product-detail-img">
                            <p class="product-detail-price">Precio : $ <%= auto.precio %></p>
                            <p class="product-detail-description"><%= auto.descripcion %> </p>
                        </article>
                        <div class="col-12 col-lg-4">
                            <section class="comments">
                                <article>
                                    <img src="/images/users/felipe.jpeg" alt="userIcon">
                                    <div class="data">
                                        <p class="user">
                                        <strong> <a href="/">Felipe de Aramburu: </a> </strong>
                                        Solo algunos pueden acceder a estos lujos</p>
                                    </div>
                                </article>
                                <article>
                                    <img src="/images/users/Diogi.jpeg" alt="userIcon">
                                    <div class="data">
                                        <p class="user">
                                            <strong> <a href="/">Diógenes Blaquier: </a> </strong>
                                            Que lujo! Mi próxima compra
                                        </p>
                                    </div>
                                </article>
                                <article>
                                    <img src="/images/users/dani.jpeg" alt="userIcon">
                                    <div class="data">
                                        <p class="user">
                                            <strong> <a href="/">Dani Fuentes: </a> </strong>
                                            Loreeee
                                        </p>
                                    </div>
                                </article>
                                <article>
                                    <img src="/images/users/Maca.jpeg" alt="userIcon">
                                    <div class="data">
                                        <p class="user">
                                            <strong> <a href="/">Maca Armijo: </a> </strong>
                                            Que buen auto! ¿Hay algun descuento con LaNacion?
                                        </p>
                                    </div>
                                </article>
                                <article>
                                    <img src="/images/users/lorenzo.jpeg" alt="userIcon">
                                    <div class="data">
                                        <p class="user">
                                            <strong> <a href="/">Lorenzo Fallik: </a> </strong>
                                            El auto de mis sueños
                                        </p>
                                    </div>
                                </article>
        
                            </section>
                            <form class="form" action="" method="POST">
                                <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                                <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('./partials/footer') %>

</body>