<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  
    <div class="container products-wrapper">
      <div class="row">
          <% for (let i=0; i<autos.length; i ++){ %>
			    <div class="col-12 col-sm-6 col-lg-3">
				  <section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="./autosImg/<%= autos[i].imagen %> " alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Modelo del auto : <%= autos[i].nombre %></h2>
							<p>precio : <%= autos[i].precio %></p>
							<p>Comentarios: 12</p>
              <a href="/detail/<%=autos[i].id %>" class= "btn btn-primary">Ver detalles</a>
						</article>
					</a>
				</section>
			</div>
			<% } %>
    </div>
  </div>
  </body>
</html>
