<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
    
    <title> Mercado Liebre Argentina</title>
        <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- Bootstrap Grid Stylesheet -->
    <link rel="stylesheet" href="./stylesheets/bootstrap-grid.min.css">
    <!-- Own Stylesheet -->
    <link rel="stylesheet" href="./stylesheets/app.css">
  </head>
  <%- include('./partials/header') %>
  <!-- Banner -->
	<div class="banner-auto" >
		<img src="images/baner.png" style= "max-height:min-content;" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  
    <div class="container products-wrapper">
      <div class="row">
          <% for (let i=0; i<autos.length; i ++){ %>
			    <div class="col-12 col-sm-6 col-lg-3">
				  <section class="product-box">
					<a href="/detail/<%=autos[i].id %>">
						<figure class="product-box_image">
							<img src="./autosImg/<%= autos[i].imagen %> " alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Modelo del auto : <%= autos[i].nombre %></h2>
							<p>precio : $ <%= autos[i].precio %></p>
							<p>Comentarios: 12</p>
              <a href="/detail/<%=autos[i].id %>" class= "btn btn-primary">Ver detalles</a>
						</article>
					</a>
				</section>
			</div>
			<% } %>
    </div>
  </div>
  </body>

  <%- include('./partials/footer') %>
</html>
